<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Trabalho de informática e sociedade - História dos Computadores e da Ciência da Informação</title>
  <link rel="stylesheet" href="the-monospace-web/reset.css" />
  <link rel="stylesheet" href="the-monospace-web/index.css" />
  <script type="text/javascript" src="the-monospace-web/index.js"></script>
</head>

<body>
  {{ content | safe }}
</body>

</html>